/Chapter6/learn-express/node_modules
/Chapter7/learn-sequelize/node_modules
/Chapter7/learn-sequelize/migrations
/Chapter7/learn-sequelize/config
/Chapter9/nodebird/node_modules
/Chapter9/nodebird/migrations
/Chapter9/nodebird/config
/Chapter10/nodebird-api/node_modules
/Chapter10/nodebird-api/config
/Chapter10/nodecat/node_modules
/node_modules